# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  schedule:
  # each fifteen day of month
  - cron: "0 0 15 * *"
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 11, 17, 21, 24 ]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: maven

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Build with Maven
      run: mvn -B -Pwith-video org.jacoco:jacoco-maven-plugin:prepare-agent compile jib:dockerBuild verify --file pom.xml

    - name: Set first matrix job environment variable
      id: set-first-job
      if: ${{ matrix.java-version == '11' }}
      run: echo "FIRST_JOB=true" >> $GITHUB_ENV

    - name: Distribute jars built
      if: ${{ env.FIRST_JOB == 'true' }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: jars
        path: "*/target/*.jar"

    # colons are not allowed by upload-artifact, so we have to move (better copy) the file
    # https://github.com/actions/upload-artifact/issues/546
    - name: Copy zip to /tmp
      run: |
        for file in deploy-dist/target/ardulink-V*.zip; do 
          cp "$file" "/tmp/$(basename "$file" | sed 's/-SNAPSHOT-[0-9T:.\-]\+Z\.zip$/-SNAPSHOT.zip/')"
        done
    - name: Distribute zip created
      if: ${{ env.FIRST_JOB == 'true' }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ardulink-zip
        path: "/tmp/ardulink-V*.zip"

    - name: Test Report JDK ${{ matrix.java-version }}
      uses: dorny/test-reporter@e17be7e0078fc00f61965f3b4032f1e1fdc7fcfb # v2
      if: (success() || failure()) && github.event_name != 'pull_request' && github.actor != 'dependabot[bot]'  # run this step even if previous step failed
      with:
        name: Tests Report JDK ${{ matrix.java-version }}
        path: "*/target/surefire-reports/*.xml"
        reporter: java-junit

    - name: Distribute video records
      if: ${{ env.FIRST_JOB == 'true' }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: videos
        path: "*/target/videos/*"

    - name: Unzip artifact
      run: unzip deploy-dist/target/ardulink-V*.zip -d deploy-dist/target/
    - name: Cache docker images
      uses: ScribeMD/docker-cache@0.5.0
      with:
        key: docker-${{ runner.os }}-${{ matrix.java-version }}-${{ hashFiles('deploy-dist/tests/docker-compose.yml') }}

    - name: Run MQTT systemtests
      run: timeout 2m bash deploy-dist/tests/systemtest-mqtt.sh

    - name: Run REST systemtests
      run: timeout 2m bash deploy-dist/tests/systemtest-rest.sh

    - name: Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2

